.history-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 149, 255);
    height: 45px;
    width: 180px;
    border: solid 5px;
    border-color: white;
    border-radius: 10px;
}

.uv-green {
    background-color: green;
    color: white;
    width: 60px;
}

.uv-yellow {
    background-color: yellow;
    width: 60px;
}

.uv-orange {
    background-color: orange;
    width: 60px;
}

.uv-red {
    background-color: red;
    color: white;
    width: 60px;
}

.uv-purple {
    background-color: purple;
    color: white;
    width: 60px;
}